.introduction__container {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
}

.introduction__me {
    width: 100%;
    aspect-ratio: 1.61/1;
    border-radius: 3rem;
    margin: 6rem 0 2.6rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-primary), 
        transparent);
    display: grid;
    place-items: center;
    transform: rotate(0);
}

.introduction__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.introduction__me-image:hover {
    transform: rotate(0deg);
}

.introduction__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5 rem;
}

.introduction__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: car(--transition);
}

.introduction__card:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.introduction__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.introduction__card h5 {
    font-size: 0.95rem;
}

.introduction__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.introduction__content p {
    margin: 1rem 0 2.6rem;
    color: var(--color-white);
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1.5rem;
}
